Load the data and see its row count

In [5]:
import pandas as pd
df = pd.read_csv('salaries-by-college-major.csv')

df.head()
df.shape

(51, 6)

See the columns and look for NaN values

In [9]:
df.columns
df.isna()
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

Clean the data

In [10]:
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

Check for the highest salary

In [22]:
index = df['Starting Median Salary'].idxmax()
df.loc[index]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

Check for highest mid-career salary

In [24]:
index = df['Mid-Career Median Salary'].idxmax()
df.loc[index]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

Check for lowest starting salary

In [25]:
index = df['Starting Median Salary'].idxmin()
df.loc[index]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

Check for lowest mid-career salary

In [26]:
index = df['Mid-Career Median Salary'].idxmin()
df.loc[index]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

Check for lowest risk majors

In [33]:
spread_col = df['Mid-Career 90th Percentile Salary'].subtract(df['Mid-Career 10th Percentile Salary'])
clean_df.insert(1, 'Spread', spread_col)

clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

Sorting by lowest spread

In [36]:
low_spread = clean_df.sort_values('Spread')
low_spread[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

Highest potential

In [38]:
high_potential = clean_df.sort_values(by='Mid-Career 90th Percentile Salary', ascending=False)
high_potential[['Undergraduate Major', 'Spread']].head()

     Undergraduate Major    Spread
17             Economics  159400.0
22               Finance  147800.0
8   Chemical Engineering  122100.0
37                  Math  137800.0
44               Physics  122000.0

Highest risk

In [37]:
high_spread = clean_df.sort_values(by='Spread', ascending=False)
high_spread[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

Group by Study group

In [57]:
pd.options.display.float_format = '{:,.2f}'.format
clean_df.groupby('Group')['Starting Median Salary'].mean()

Group
Business   44,633.33
HASS       37,186.36
STEM       53,862.50
Name: Starting Median Salary, dtype: float64